= form_for(@post, :html => { :multipart => true }) do |f|
  .field
    = f.label :title
    %br/
    = f.text_field :title
  = f.fields_for :post_attachments do |p|
    .field
      = p.label :photo
      %br/
      = p.file_field :photo, :multiple => true, name: "post_attachments[photo][]"
  .actions
    = f.submit
